<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start" defaultHref="/goods-receipt/items"></ion-back-button>
      <ion-title>PO#{{ item.PoNumber }}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ item.ItemNumber }}</ion-card-title>
      <ion-card-subtitle>{{ item.ItemDesc }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <p>Qty Order: {{ item.QtyOrdered }} {{ item.ItemUom }}</p>
        </ion-item>
        <ion-item>
          <p>Qty Remaining: {{ item.QtyRemaining }} {{ item.ItemUom }}</p>
        </ion-item>
        <ion-item>
          <p>Quantity Received: {{ item.QtyOrdered - item.QtyRemaining }} {{ item.ItemUom }}</p>
        </ion-item>
        <ion-item>
          <p>Shipment #{{ item.PoShipmentNumber }}</p>
        </ion-item>

        <app-uom [uomCode]="uomCode" (openUom)="goToCommonListPage('UOM')"
        (quantityChange)="onQuantityChange($event)"></app-uom>

        <app-sub-inv *ngIf="item.DestinationType==='Inventory'" [subInv]="subInvCode"
        (openSubInv)="goToCommonListPage('SUB-INV')" (clearSubInv)="onSubInvEdit()"
        (subInvChange)="onSubInvChange($event)"></app-sub-inv>

        <app-locator *ngIf="item.DestinationType==='Inventory'" [locator]="locatorCode"
        (openLocator)="goToCommonListPage('LOCATOR')" (clearLocator)="onLocatorEdit()"
        (locatorChanged)="onLocatorChange($event)"></app-locator>

        <app-lot *ngIf="item.IsLotControlled==='True'" [lotData]="lotData"
        (openLot)="goToCommonListPage('LOT-CONTROLLED')"></app-lot>

        <app-serial *ngIf="item.IsSerialControlled==='True'" [serialData]="SerialData"
        (openSerial)="goToCommonListPage('SERIAL-CONTROLLED')"></app-serial>

        <app-item-revision *ngIf="item?.IsRevisionControlled==='True'"
        [itemRevCode]="itemRevCode" (openRevision)="goToCommonListPage('REV')"></app-item-revision>

        
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="UpdateQty()" expand="block">
      SUBMIT
    </ion-button>
  </ion-toolbar>
</ion-footer>
