<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start" defaultHref="/dashboard"></ion-back-button>
    <ion-title>Locations history</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-card color="danger" *ngFor="let loc of history">
      <ion-card-header>
        <ion-label>{{ loc.location }}</ion-label>
      </ion-card-header>
      <ion-buttons>
        <ion-card-content>
          <p>Last Updated: {{ loc.lastUpdated }}</p>
          <p>Id: {{ loc.id }}</p>
          <p>Status: {{ loc.status }}</p>
        </ion-card-content>
        <!-- <ion-button slot="end" (click)="editLocation(loc.id)">
          <ion-icon name="create-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button slot="end" (click)="deleteLocation(loc.id)">
          <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
        </ion-button> -->
      </ion-buttons>
      
    </ion-card>
  </ion-toolbar>
</ion-content>
